<a href="https://colab.research.google.com/github/TechBison/ML-AI_CLASS/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**ASSIGNMENT 1**

In [0]:
#list of no.s divisible by seven but not by 5?
def listdivisible():
  n = 2000
  a = [] 
  while(n<=3200):
    if(n%5!=0 and n%7 == 0):
      a.append(n)
    n += 1
  print(*a,sep = ', ')

In [8]:
listdivisible()

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [0]:
#volume of sphere?
import math
def vol(r):
  volu = (4/3) * math.pi * r**3
  return volu

In [10]:
print(vol(1))

4.1887902047863905

In [11]:
#reverse the first and last name of the name?
name = input("Input First and Last name: ")
rev = ' '.join(reversed(name.split(' ')))
print(rev)

Input First and Last name:

In [12]:
#convert comma seprated strings in to list 
val = input("Input comma seprated values ")
l = val.split(',')
print(l)

Input comma seprated values 1,2,3,6,5,4
['1', '2', '3', '6', '5', '4']

In [13]:
#print pattern
def print_tri():
  for i in range(0,6):
    for j in range(0,i):
      print("*",end=' ')
    print()
  for i in range(0,4):
    for j in range(0,4-i):
      print("*",end=' ')
    print()
  print('\n')

print_tri()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
#string reversal 
#method 1
st = input("Input stirng for reversal ")
print(st[::-1])
#method 2
l = []
n = len(st)
for i in range(0,n):
  l.append(st[n-i-1])
m = ''.join(l)
print(m)

Input stirng for reversal shreesh gupta
atpug hseerhs
atpug hseerhs

In [15]:
#paragraph printing
print("WE, THE PEOPLE OF INDIA,")
print("\thaving solemnly resolved to constitute India into a SOVEREIGN,")
print("\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC")
print("\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens